body {
    background-color: black;
    /*color: white;*/
    /*font-family: 'Martian Mono', monospace;*/
    padding: 1rem;
    font-size: 0.8rem;
}

button {
    background-color: rgb(179, 6, 179);
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 100%;
    color: white;
}

.input {
    color: rgb(179, 6, 179);
}

.buttons-container {
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    gap: 0.8rem;
}

.ficto-purple {
    color: rgb(179, 6, 179);
}

.indented {
    margin-left: 25px;
}

.text-grid-container {
    display: grid;
    grid-template-columns: 10% 35%;
    align-items: baseline;
}

.ficto-flag {
    width: 415px;
    height: 275px;
    opacity: 0.5;
}

.text-half {
    max-width: 60vw;
}

.text-half2 {
    max-width: 55vw;
}

li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}