body {
    background-color: black;
    color: white;
    font-family: 'Martian Mono', monospace;
    padding: 1rem;
    font-size: 0.8rem;
}

.ficto-purple {
    color: rgb(179, 6, 179);
}

.indented {
    margin-left: 25px;
}

.text-grid-container {
    display: grid;
    grid-template-columns: 10% 35%;
    align-items: baseline;
}

.ficto-flag {
    width: 415px;
    height: 275px;
    opacity: 0.2;
}

.text-half {
    max-width: 60vw;
}

.text-half2 {
    max-width: 55vw;
}

li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}